h1 {
  font-size: 4vh;
}

h3 {
  margin-bottom: 4vh; /* Ajuste cette valeur pour avoir plus ou moins d'espace sous le titre */
}

.amenagements {
  max-width: 900px; /* largeur maximale du texte */
  margin: 80px auto; /* espace autour et centrage horizontal */
  padding: 40px 30px; /* espace intérieur (haut/bas + côtés) */
  text-align: justify; /* centre tout le texte */
  line-height: 1.8; /* espace entre les lignes */
  font-size: 1.1em; /* taille du texte agréable */
  border-radius: 12px; /* coins arrondis pour un effet doux */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* légère ombre */
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-top: 15vh;
}

/* Titre */
.amenagements h2 {
  margin-bottom: 25px; /* espace entre le titre et le texte */
  font-size: 2em;
  /*color: #2c2c2c;*/
  text-align: center;
}

/* Paragraphe */
.amenagements p {
  margin: 0;
  text-indent: 3em; /* retire les marges par défaut */
}

button:focus {
  outline: none;
}
