h1 {
  font-size: 4vh;
}

h3 {
  margin-bottom: 4vh;
}

/* IMAGES LANGAGES UTILISÉS*/
.lang {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  gap: 10px;
  justify-items: center;
}

.lang img {
  height: 8vh;
  width: auto;
  object-fit: contain;
  border-radius: 0px;
  box-shadow: #fff;
  transition: transform 0.2s ease;
}

/*CSS ARTICLE*/

.article.section {
  text-align: justify;
  margin-bottom: 30px;
}

.article {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 40px;
  border-radius: 15px;
  display: flex;
  flex-direction: column; /* empile le titre au-dessus du texte */
  align-items: center; /* centre le contenu horizontalement */
  justify-content: flex-start;
  min-height: 100vh;
  max-width: 50vw; /* largeur maximale du texte */
  margin: 80px auto; /* espace autour et centrage horizontal */
  padding: 40px 30px; /* espace intérieur (haut/bas + côtés) */
  text-align: justify; /* centre tout le texte */
  line-height: 1.8; /* espace entre les lignes */
  font-size: 1.1em;
  border-radius: 12px; /* coins arrondis pour un effet doux */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* légère ombre */
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-top: 15vh;
}

.article h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 2em;
  text-align: center;
}

.article p {
  margin: 0;
  margin-bottom: 40px;
  line-height: 1.6;
  font-size: 1.1em;
  text-indent: 2em;
}

@media (max-width: 600px) {
  p {
    text-indent: 1em;
  }
}

.photos {
  display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px; /* espace entre les images */
  justify-items: center;
}

/* Taille et style des images */
.photos img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.article img:not(.lang) {
  width: 100%;
  cursor: pointer;
}

.photos img:hover,
.article img:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

/* Les deux dernières images prennent la ligne suivante */
.photos img:nth-child(n + 4) {
  grid-column: span 1; /* chaque image occupe une colonne */
}

/* Ajustement responsive : sur petit écran, 1 image par ligne */
@media (max-width: 700px) {
  .photos {
    grid-template-columns: 1fr;
  }
  .photos img {
    max-width: 90%;
  }
}

button:focus {
  outline: none;
}
