<nav>
  <a href="index.html">Mon parcours</a>

  <div class="dropdown">
    <button
      class="dropbtn"
      id="btn-projets"
      aria-haspopup="true"
      aria-controls="menu-projets"
      aria-expanded="false"
    >
      Projets ▾
    </button>

    <ul class="dropdown-content" id="menu-projets" hidden>
      <li><a href="site.html">Création du site</a></li>
      <li><a href="accessibilite.html">Accessibilité du site</a></li>
      <li>
        <a href="renneslogements.html"
          >Étude : Dynamique logements-population à Rennes</a
        >
      </li>
      <li><a href="jishotoanki.html">Jisho to Anki</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button
      class="dropbtn"
      id="btn-passions"
      type="button"
      aria-haspopup="true"
      aria-controls="menu-passions"
      aria-expanded="false"
    >
      Passions ▾
    </button>

    <ul class="dropdown-content" id="menu-passions" hidden>
      <li><a href="patisserie.html">Pâtisserie</a></li>
      <li><a href="jardin.html">Jardinage</a></li>
    </ul>
  </div>
  <a href="amenagements.html">Aménagements</a>

  <a href="contact.html">Contacts</a>
</nav>
